.big_display {

  color: red;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 3.2;
  background: rgba(256, 256, 256, 0.8); 
  width: 100%;
  padding:0;

}
.big_container .big_display /* .logos */ {
  position: relative; 
  max-width: 100%; /* Maximum width */
  margin: 0,0; /* Center it */
}

body {
  font-family: 'Georgia', serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.6; 
  min-height: calc(100% - 70px);
}
.logos {
/*  
  position:relative;
  align: bottom; 
*/
  height:140px;
  background: rgba(256, 256, 256, 0.8); 
  padding:20px;
}
.body_image {  
  background-image: url('./background1_pale.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: right; 
  background-size: 1800px;
  height: 1000px;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 30px;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: -1;
  cursor: pointer;
  flex: 1 0 auto;

}

.basic_text {
	position: fixed ;
	top: 150px;
	left: 600px;
	font-size: 1em; 
}

.accordionItem h2 { 
	margin: 0; 
	font-size: 0.8em; 
	padding: 1em; 
	color: #fff; 
	background-color: #F5B7B1; 
/*	background-color: pink; */
	border-bottom: 1px solid #66d; 
	width: 200px;
	top: 200px;
}
.accordionItem h2:hover { 
	cursor: pointer; 
}
.accordionItem div { 
	margin: 0; 
	padding: 1em 0.4em; 
	background-color: #eef; 
	border-bottom: 1px solid #66d; 
	width: calc(60% - 120px); 
}
.accordionItem.hide h2 { 
	color: #000; 
/*	background-color: #88f; */
}
.accordionItem.hide div { 
	display: none; 
}
#score_image {
	float:right;
	width:1500px;
}
#accordion {
	float:left;
	flex: 1 0 auto;
}
.accordion_block {
	background: rgba(256, 256, 256, 0.8); 
	width: 250px;
	padding:20px;
}